In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("/Users/jamie/Downloads/archive (7)/Formula1_4tables.sqlite")

In [3]:
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
tables

[('circuits',), ('races',), ('drivers',), ('results',)]

In [4]:
for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")
    
    # Get the first row and column names for the table
    cursor.execute(f"SELECT * FROM {table_name} LIMIT 1;")
    first_row = cursor.fetchone()
    column_names = [desc[0] for desc in cursor.description]
    
    print("Column Names:", column_names)
    print("First Row:", first_row)
    print()

Table: circuits
Column Names: ['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng', 'alt', 'url']
First Row: (1, 'albert_park', 'Albert Park Grand Prix Circuit', 'Melbourne', 'Australia', -37.8497, 144.968, 10, 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit')

Table: races
Column Names: ['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url']
First Row: (1, 2009, 1, 1, 'Australian Grand Prix', '2009-03-29', '06:00:00', 'http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix')

Table: drivers
Column Names: ['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob', 'nationality', 'url']
First Row: (1, 'hamilton', '44', 'HAM', 'Lewis', 'Hamilton', '07/01/1985', 'British', 'http://en.wikipedia.org/wiki/Lewis_Hamilton')

Table: results
Column Names: ['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid', 'position', 'positionText', 'positionOrder', 'points', 'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId']
First Row: ('1', 18, 1, 1, 22, 1, 1, '1', 1, 10, 58, '34:50.6', 5690616, '39', 2, '01:27.5', 218.3, 1)

In [5]:
query = ("SELECT d.grid, d.position, d.positionOrder, d.points, a.country, b.date, b.round, b.name, b.time, "
         "d.laps, d.laps, d.time, d.milliseconds, d.fastestLap, d.rank, d.fastestLapTime, d.fastestLapSpeed, "
         "c.forename, c.surname, c.dob "
         "FROM results AS d "
         "LEFT JOIN drivers AS c ON d.driverId = c.driverId "
         "LEFT JOIN races AS b ON d.raceId = b.raceId "
         "LEFT JOIN circuits AS a ON b.circuitId = a.circuitId")

In [6]:
df = pd.read_sql_query(query, con)
df.head()

,grid,position,positionOrder,points,country,date,round,name,time,laps,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,forename,surname,dob
0,1,1,1,10.0,Australia,2008-03-16,1,Australian Grand Prix,04:30:00,58,58,34:50.6,5690616,39,2,01:27.5,218.3,Lewis,Hamilton,07/01/1985
1,5,2,2,8.0,Australia,2008-03-16,1,Australian Grand Prix,04:30:00,58,58,5.478,5696094,41,3,01:27.7,217.586,Nick,Heidfeld,10/05/1977
2,7,3,3,6.0,Australia,2008-03-16,1,Australian Grand Prix,04:30:00,58,58,8.163,5698779,41,5,01:28.1,216.719,Nico,Rosberg,27/06/1985
3,11,4,4,5.0,Australia,2008-03-16,1,Australian Grand Prix,04:30:00,58,58,17.181,5707797,58,7,01:28.6,215.464,Fernando,Alonso,29/07/1981
4,3,5,5,4.0,Australia,2008-03-16,1,Australian Grand Prix,04:30:00,58,58,18.014,5708630,43,1,01:27.4,218.385,Heikki,Kovalainen,19/10/1981

In [7]:
con.close()

In [8]:
df.dtypes

grid                 int64
position            object
positionOrder        int64
points             float64
country             object
date                object
round                int64
name                object
time                object
laps                 int64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
forename            object
surname             object
dob                 object
dtype: object

In [26]:
df.to_csv("F1_dataset.csv")